* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 400;
}

body {
  color: white;
  background-color: #282d4f;
}

a:link {
  text-decoration: none;
  color: white;
}

img {
  width: 100%;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.6rem;
  margin: 1rem 1rem;
}

.logo--h1 {
  display: flex;
  align-items: center;
  background-color: #000;
  border-radius: 5%;
}

.castle--icon {
  background-color: #fff;
  padding: 0.5rem;
  border-radius: 5%;
  height: 4rem;
  width: 4rem;
  filter: invert(90%) sepia(100%) saturate(0%) hue-rotate(325deg)
    brightness(102%) contrast(105%);
}

h1 {
  font-size: 2rem;
  font-weight: 600;
  padding: 0 0.5em;
  padding-top: 1.5%;
}

.nav--btn {
  background-color: #000;
  color: #fff;
  padding: 1rem;
  border-radius: 10%;
  font-weight: 600;
}

.nav--btn:hover {
  color: #6a4df1;
}

.nav--btn:active {
  color: #fff;
}

.nav--btn::after {
  color: #fff;
}

.section--introduction {
  position: relative;
  text-align: left;
  margin-bottom: 10rem;
}

.main--image {
  position: static;
  max-height: 67rem;
  filter: brightness(50%) contrast(105%);
}

.section--introduction blockquote {
  font-family: 'Allison', cursive;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.introduction--quote {
  font-size: 10rem;
  text-shadow: 0.5rem 0.5rem 0.2rem rgb(0, 0, 0);
}

.abercrombie-ref {
  font-size: 3.6rem;
  text-align: right;
}

.section--books__slider {
  margin-bottom: 12rem;
}

.book--card {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5%;
  margin: auto;
  max-width: 70%;
  padding: 2rem 0;
  background-color: #4935a5;
  border-radius: 1rem;
}

.book--card__text {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  max-width: 40em;
}

.book--card__cover {
  max-width: 36rem;
  box-shadow: 0 0.5rem 2rem rgb(102, 102, 102);
}

.book--card__title {
  font-weight: 600;
  font-size: 3.5rem;
}

.book--card__description {
  line-height: 3rem;
  font-size: 3rem;
}

.book--card__buy {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.book--card__price {
  font-weight: 600;
  font-size: 2.5rem;
}

.book--card__btn {
  font-family: 'MedievalSharp', cursive;
  font-weight: 600;
  font-size: 2.5rem;
  color: #fff;
  background-color: #000;
  border: none;
  padding: 0.5em 1em;
  border-radius: 0.4em;
  cursor: pointer;
}

.book--card__btn:hover {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}

.section--reviews {
  max-width: 80%;
  margin: auto;
  margin-bottom: 10rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5rem;
  justify-content: center;
  align-items: center;
}

.review {
  margin: auto;
  padding: 1.6rem 1rem 1.6rem 1.6rem;
  max-width: 50rem;
  border-radius: 1rem;
  color: #dbd7ed;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: (3, 1fr);
  gap: 1rem;
}

.review--type__2 {
  background-color: #4935a5;
}

.review--avatar {
  grid-area: 3 / 1;
  max-width: 8rem;
  border-radius: 50%;
  justify-self: start;
  align-self: center;
}

.review--name {
  grid-area: 3 / 1 / 3 / span 2;
  justify-self: start;
  align-self: center;
  font-size: 1.6rem;
  margin-left: 9rem;
  color: #eaeaed;
}

.review--main__word {
  grid-area: 1 / 1 / 1 / span 2;
  font-size: 2.4rem;
  margin-top: 0.5em;
}

.review--text {
  grid-area: 2 / 1 / 2 / span 2;
  font-size: 2rem;
  line-height: 3.2rem;
}
